//media queries for larger screens

/* @media screen and (min-width: 900px) {
    body {
        max-width: 80em;
        margin: 0 auto;
    }

    main {
        width: 85%;
        position: relative;
    }

    
    .portfolio {
        display: inline;
        margin: 0 auto;
              
            img {
                max-height: 400px;
                max-width: 400px;
            }
    }
} */